button {
  display: inline-block;
  color: white;
  background-color: #002D62;
  font-size: 14px;
  padding: 10px 0 5px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin: 10px;
  border-radius: 12px;
  text-align: center;
  margin-left: 14em; }

.information {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  max-width: fit-content; }
  .information .row {
    display: inherit;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    margin: 1em;
    width: 80%; }
    .information .row .description {
      font-size: 28px;
      font-weight: bold;
      width: 60%; }
    .information .row .field {
      margin-left: 4em;
      width: 40%; }

.block1 {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 10em 10em 0 10em; }
