.product {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.product-text {
  display: flex;
  margin-top: 2em; }

.order-description {
  padding: 5em; }

.buttons{

}

.buttons ul{
  margin: 0;
  padding: 0;

  left: 50%;
  top: 50%;
}

.buttons ul li button{
  width: 100%;
}