.block {
  margin: 10em;
}

.product {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.product-text {
  display: flex;
  margin-top: 2em; }

.description-listing {
  padding: 5em;
}
.description-listing p {
  margin-top: 4px;
}

.header {
  font-size: 24px;
}
